In [1]:
#ans:1
import pandas as pd

# create the series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#ans:2
import pandas as pd

# create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# create a Pandas Series from the list
my_series = pd.Series(my_list)

# print the series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#ans:3
import pandas as pd
data={'NAME':['ALICE','BOB','CLAIRE']
     ,'AGE':[25,30,27],
     'GENDER':['MALE','FEMALE','MALE']}
df=pd.DataFrame(data)
print(df)

     NAME  AGE  GENDER
0   ALICE   25    MALE
1     BOB   30  FEMALE
2  CLAIRE   27    MALE

In [ ]:
#ans:4

In Pandas, a DataFrame is a two-dimensional labeled data structure that is used to represent data in a tabular form, similar to a spreadsheet or SQL table. It is a collection of Pandas Series that have the same length and are aligned by their index.

On the other hand, a Series is a one-dimensional labeled array that can hold any data type (integer, float, string, etc.) and has an associated index that labels each element in the array.

Here's an example to illustrate the difference between DataFrame and Series:
import pandas as pd

# create a Pandas Series
my_series = pd.Series([1, 2, 3, 4, 5], name='MySeries')

# create a Pandas DataFrame from the Series
my_dataframe = pd.DataFrame({'MyDataFrame': my_series})

# print both the Series and the DataFrame
print('Series:')
print(my_series)
print('\nDataFrame:')
print(my_dataframe)

In [ ]:
#ans:5
Pandas provides a wide range of functions for manipulating and analyzing data in a DataFrame. Here are some common functions that you can use:

head() and tail(): These functions allow you to view the first or last n rows of a DataFrame, respectively. This can be useful to get a quick overview of the data, especially for large datasets.

info(): This function displays a summary of the DataFrame, including its shape, data types, and memory usage. It can help you understand the structure of your data and identify any potential issues or inconsistencies.

describe(): This function provides a statistical summary of the numerical columns in the DataFrame, including the mean, standard deviation, and quartiles. It can be useful to get a sense of the distribution of the data.

drop(): This function allows you to remove rows or columns from the DataFrame. You might use this if you have missing or irrelevant data that you want to exclude from your analysis.

fillna(): This function allows you to replace missing values in the DataFrame with a specified value or a method such as forward or backward fill. This can help you clean your data and ensure that you can use it for analysis.

groupby(): This function allows you to group the data by one or more columns and apply a function to each group. This can be useful for aggregating data or computing statistics for subsets of the data.

In [ ]:
#ans:6

In Pandas, both Series and DataFrame are mutable, while Panel is considered deprecated and is not recommended for use anymore.

When you modify a Series or DataFrame, the original object is modified in place, and any changes made are reflected in the original object. In contrast, immutable objects cannot be modified after they are created.
import pandas as pd

# create a Pandas Series
my_series = pd.Series([1, 2, 3, 4, 5])

# modify a value in the Series
my_series[2] = 10

# print the modified Series
print(my_series)

In [ ]:
#ans:7
import pandas as pd

# create the first Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])

# create the second Series
ages = pd.Series([25, 30, 27, 28])

# create the third Series
cities = pd.Series(['New York', 'Paris', 'London', 'Sydney'])

# create the DataFrame from the three Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

# print the DataFrame
print(df)